# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# IDE-specific files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Logs and databases
*.log
*.sqlite3

# Environment and local settings files
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db
/profiles